<div class="menu">
    <nav class="navbar">

   <div class="navbar-container">
    <!-- Logo -->

    <a routerLink="/" class="logo">SR.<span>SHOP</span></a>

    <!-- Mobile Menu Button -->
    <button class="mobile-menu-btn">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <!-- <li>
        <a href="#">Shop <i class="fas fa-chevron-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">Men's CloThing</a></li>
          <li><a href="#">Women's CloThing</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Home & Garden</a></li>
        </ul>
      </li>
      <li><a href="#">New Arrivals</a></li>
      <li><a href="#">Deals</a></li> -->
      <li><a   routerLink="/productlist">Products</a></li>
      <li><a   routerLink="/contact">Contect</a></li>
       <li><a routerLink="/about">About</a></li>
    </ul>

    <!-- Icons -->
    <div class="nav-icons">
      <div class="search-container">
        <input type="text" placeholder="Search products..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </div>
      <a href="#"><i class="far fa-user"></i></a>
      <a href="#"><i class="far fa-heart"></i></a>
      <a href="#" class="cart-icon">
        <i class="fas fa-shopping-cart"></i>
        <a
        routerLink="/cart"
        class="cart-count" type="button" style="color: aliceblue;   text-decoration: none; ">🛒({{CartServiceService.getCartItem().length}})


      </a>
      </a>
    </div>
  </div>
</nav>

</div>
        <router-outlet/>

<div class="footer">
    <app-footer> </app-footer>
</div>
