
  #carouselExampleDark {
    max-width: 1500px;
    /* margin-top: 20px; */
    margin: 10px auto;
    /* padding: 20px; */
    border: solid var(#2c3e50);

  }

  #carouselExampleDark .carousel-item img {
    height: 550px;
    object-fit: contain;
  }
  p{
    color: aliceblue;
  }
    h5{
    color: aliceblue;
  }
